<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>iTaleo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="CreativeLayers">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chosen.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/colors/colors.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

</head>
<body>

<div class="page-loading">
    <img src="{% static 'images/loader.gif' %}" alt=""/>
</div>

<div class="theme-layout" id="scrollup">


    <header class="stick-top">
        <div class="menu-sec">
            <div class="container">
                <div class="my-profiles-sec">
                    <span>{{user.username}} <i class="la la-bars"></i></span>
                </div>
            </div>
        </div>
    </header>

    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1"
                 style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;"
                 class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3>Welcome {{user.username}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block no-padding">
            <div class="container">
                <div class="row no-gape">
                    <aside class="col-lg-3 column border-right">
                        <div class="widget">
                            <div class="tree_widget-sec">
                                <ul>
                                    <li>
                                        <a href="/candidate_dashboard" title=""><i class="la la-folder"></i>Candidate
                                            Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="/candidate_profile" title=""><i class="la la-file-text"></i>View My
                                            Profile</a>
                                    </li>
                                    <li>
                                        <a href="/candidate_profile_basic" title=""><i class="la la-user"></i>Basic
                                            Details</a>
                                    </li>
                                    <li>
                                        <a href="/display_experience_and_career_details" title=""><i class="la la-money"></i>Education & Career Details</a>
                                    </li>
                                    <li>
                                        <a href="/search_job" title=""><i class="la la-search"></i>Search Job</a>
                                    </li>
                                    <li>
                                        <a href="#" title=""><i class="la la-lock"></i>Change Password</a>
                                    </li>
                                    <li><a href="/candidate_logout" title=""><i class="la la-unlink"></i>Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                    <div class="col-lg-9 column">
                        <div class="profile-form-edit">
                            <form method="post" action="{% url 'save_career_details' %}">
                                {% csrf_token %}
                                <div class="col-lg-12 column">
                                    <div class="padding-left">
                                        <div class="manage-jobs-sec">
                                            <div class="border-title"><h3>Education</h3>
                                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                                        data-target="#myModal">Add Education
                                                </button>
                                            </div>
                                            <div class="edu-history-sec">

                                                {% for education in education_return_list %}
                                                <div class="edu-history">
                                                    <i class="la la-graduation-cap"></i>
                                                    <div class="edu-hisinfo">
                                                        <h3>{{ education.qualification }}</h3>
                                                        <i>{{ education.from_date }} - {{ education.to_date }}</i>
                                                        <span>{{	education.institution }} <i>{{	education.specialization }}</i></span>
                                                        <p>{{ education.percentage }}%</p>
                                                    </div>
                                                    <ul class="action_job">
                                                        <li><span>Edit</span><a href="#" title=""><i
                                                                class="la la-pencil"></i></a></li>
                                                        <li><span>Delete</span><a href="#" title=""><i
                                                                class="la la-trash-o"></i></a></li>
                                                    </ul>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="border-title"><h3>Work Experience</h3>
                                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                                        data-target="#work-experience-modal">Add Work Experience
                                                </button>
                                            </div>
                                            <div class="edu-history-sec">
                                                {% for work in work_experience_return_list %}


                                                <div class="edu-history style2">
                                                    <i></i>
                                                    <div class="edu-hisinfo">
                                                        <h3>{{ work.job_title }}<span>{{ work.company_name }}</span>
                                                        </h3>
                                                        <i>{{ work.from_date }} - {{ work.to_date }}</i>
                                                        <p>{{ work.project_details }}</p>
                                                    </div>
                                                    <ul class="action_job">
                                                        <li><span>Edit</span><a href="#" title=""><i
                                                                class="la la-pencil"></i></a></li>
                                                        <li><span>Delete</span><a href="#" title=""><i
                                                                class="la la-trash-o"></i></a></li>
                                                    </ul>
                                                </div>
                                                {% endfor %}
                                            </div>

                                            <div class="border-title"><h3>Professional Skills</h3>
                                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                                        data-target="#skill-modal">Add Skills
                                                </button>
                                            </div>
                                            <div class="progress-sec">
                                                {% for skill in skill_set_return_list %}
                                                <div class="progress-sec with-edit">
                                                    <span>{{ skill.skill_name }}</span>
                                                    <div class="progressbar">
                                                        <div class="progress"
                                                             style="width: {{ skill.skill_percentage }}%;"><span>{{ skill.skill_percentage }}%</span>
                                                        </div>
                                                    </div>
                                                    <ul class="action_job">
                                                        <li><span>Delete</span><a href=/delete_skill_set/{{ skill.skill_name }} title=""><i
                                                                class="la la-trash-o"></i></a></li>
                                                    </ul>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--

        -->
    </section>

    <footer>
        <div class="block">
        </div>
        <div class="bottom-line">
            <span>© 2019 iTaleo All rights reserved. Design by Creative Layers</span>
            <a href="#scrollup" class="scrollup" title=""><i class="la la-arrow-up"></i></a>
        </div>
    </footer>

</div>

<div class="profile-sidebar">
    <span class="close-profile"><i class="la la-close"></i></span>
    <div class="can-detail-s">
        <div class="cst"><img src="http://placehold.it/145x145" alt=""/></div>
        <h3>{{user.username}}</h3>
        <span><i>UX / UI Designer</i> at Atract Solutions</span>
        <p>creativelayers088@gmail.com</p>
        <p>Member Since, 2017</p>
        <p><i class="la la-map-marker"></i>Istanbul / Turkey</p>
    </div>
</div><!-- Profile Sidebar -->

<!-- Education Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-lg-12 column">
                    <form method="post" action="{% url 'add_education' %}">
                        {% csrf_token %}
                        <div class="padding-left">
                            <div class="manage-jobs-sec">
                                <div class="border-title"><h3>Education</h3></div>
                                <div class="resumeadd-form">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <span class="pf-title">Qualification</span>
                                            <div class="pf-field">
                                                <select data-placeholder="" class="chosen" name="qualification">
                                                    <option>B.Tech</option>
                                                    <option>M.Tech</option>
                                                    <option>Bsc</option>
                                                    <option>Msc</option>
                                                    <option>B.Com</option>
                                                    <option>12th</option>
                                                    <option>10th</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Specialization</span>
                                            <div class="pf-field">
                                                <select data-placeholder="" class="chosen" name="specialization">
                                                    <option>Computer Science</option>
                                                    <option>Electrical & Electronics</option>
                                                    <option>EC</option>
                                                    <option>Civil</option>
                                                    <option>Maths</option>
                                                    <option>NA</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">From Date</span>
                                            <div class="pf-field">
                                                <input placeholder="" type="date" class="datepicker" name="from_date">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">To Date</span>
                                            <div class="pf-field">
                                                <input placeholder="" type="date" class="datepicker" name="to_date">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Percentage</span>
                                            <div class="pf-field">
                                                <input type="number" min="1" max="100" name="percentage">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Institution</span>
                                            <div class="pf-field">
                                                <input type="text" name="institution">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="work-experience-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-lg-12 column">
                    <form method="post" action="{% url 'add_work_experience' %}">
                        {% csrf_token %}
                        <div class="padding-left">
                            <div class="manage-jobs-sec">
                                <div class="border-title"><h3>Work Experience</h3></div>
                                <div class="resumeadd-form">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <span class="pf-title">Job Title</span>
                                            <div class="pf-field">
                                                <input placeholder="" type="text" name="job_title">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <span class="pf-title">From Date</span>
                                            <div class="pf-field">
                                                <input placeholder="" type="date" class="datepicker" name="from_date">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <span class="pf-title">To Date</span>
                                            <div class="pf-field">
                                                <input placeholder="" type="date" class="datepicker" name="to_date">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <p class="remember-label">
                                                <input type="checkbox" name="is_present_job" id="fgfg"><label
                                                    for="fgfg">Present</label>
                                            </p>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Company</span>
                                            <div class="pf-field">
                                                <input type="text" name="company_name">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Project Details</span>
                                            <div class="pf-field">
                                                <textarea name="project_details"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="skill-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-lg-12 column">
                    <form method="post" action="{% url 'add_skill_set' %}">
                        {% csrf_token %}
                        <div class="padding-left">
                            <div class="manage-jobs-sec">
                                <div class="border-title"><h3>Professional Skills</h3></div>
                                <div class="resumeadd-form">
                                    <div class="row align-items-end">
                                        <div class="col-lg-7">
                                            <span class="pf-title">Skill Name</span>
                                            <div class="pf-field">
                                                <input placeholder="" type="text" name="skill_name">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <span class="pf-title">Percentage</span>
                                            <div class="pf-field">
                                                <input placeholder="" type="number" max="100" min="0"
                                                       name="skill_percentage">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/modernizr.js' %}" type="text/javascript"></script>
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/wow.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/slick.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/parallax.js' %}" type="text/javascript"></script>
<script src="{% static 'js/select-chosen.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.scrollbar.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/circle-progress.min.js' %}" type="text/javascript"></script>

</body>
</html>

