<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>iTaleo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="CreativeLayers">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}" />
	<link rel="stylesheet" href="{% static 'css/icons.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/chosen.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/colors/colors.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

</head>
<body>

<div class="page-loading">
	<img src="{% static 'images/loader.gif' %}" alt="" />
</div>

<div class="theme-layout" id="scrollup">

	<div class="responsive-header">
		<div class="responsive-menubar">
			<div class="res-logo"><a href="index.html" title=""><img src="http://placehold.it/178x40" alt="" /></a></div>
			<div class="menu-resaction">
				<div class="res-openmenu">
					<img src="{% static 'images/icon.png' %}" alt="" /> Menu
				</div>
				<div class="res-closemenu">
					<img src="{% static 'images/icon2.png' %}" alt="" /> Close
				</div>
			</div>
		</div>
	</div>

	<header class="stick-top">
		<div class="menu-sec">
			<div class="container">
				<div class="btns-profiles-sec">
					<span><img src="http://placehold.it/50x50" alt="" /> {{user.first_name}} {{user.last_name}} <i class="la la-angle-down"></i></span>
					<ul>
						<li><a href="#" title=""><i class="la la-briefcase"></i> Manage Jobs</a></li>
						<li><a href="#" title=""><i class="la la-leaf"></i> Post a New Job</a></li>
						<li><a href="#" title=""><i class="la la-phone"></i> Job Alerts</a></li>
						<li><a href="#" title=""><i class="la la-key"></i> Change Password</a></li>
						<li><a href="#" title=""><i class="la la-history"></i> Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>

	<section class="overlape">
		<div class="block no-padding">
			<div data-velocity="-.1" style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner-header">
							<h3>Welcome {{user.first_name}} {{user.last_name}}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block no-padding">
			<div class="container">
				 <div class="row no-gape">
				 	<aside class="col-lg-3 column border-right">
				 		<div class="widget">
				 			<div class="tree_widget-sec">
				 				<ul>
				 					<li>
				 						<a href="/employer_dashboard" title=""><i class="la la-briefcase"></i>Manage Jobs</a>
				 					</li>
				 					<li>
				 						<a href="/create_job" title=""><i class="la la-file-text"></i>Post a New Job</a>
				 					</li>
				 					<li>
				 						<a href="#" title=""><i class="la la-flash"></i>Job Alerts</a>
				 					</li>
				 					<li>
				 						<a href="#" title=""><i class="la la-lock"></i>Change Password</a>
				 					</li>
				 					<li><a href="/employer_logout" title=""><i class="la la-unlink"></i>Logout</a></li>
				 				</ul>
				 			</div>
				 		</div>
				 	</aside>
				 	<div class="col-lg-9 column">
				 		<div class="padding-left">
					 		<div class="profile-title">
					 			<h3>Post a New Job</h3>
					 		</div>
					 		<div class="profile-form-edit">
					 			<form method="post" action="{% url 'save_job_details' %}">
									{% csrf_token %}
									{% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
					 				<div class="row">
										<div class="col-lg-12">
					 						<span class="pf-title">Job Code</span>
					 						<div class="pf-field">
					 							<input type="text" placeholder="" name="job_code"/>
					 						</div>
					 					</div>
					 					<div class="col-lg-12">
					 						<span class="pf-title">Job Title</span>
					 						<div class="pf-field">
					 							<input type="text" placeholder="" name="job_title"/>
					 						</div>
					 					</div>
					 					<div class="col-lg-12">
					 						<span class="pf-title">Description</span>
					 						<div class="pf-field">
					 							<textarea name="job_description"></textarea>
					 						</div>
					 					</div>
										<div class="col-lg-12">
					 						<span class="pf-title">Primary Skills</span>
					 						<div class="pf-field">
					 							<input type="text" placeholder="" name="key_skills"/>
					 						</div>
					 					</div>
										<div class="col-lg-12">
					 						<span class="pf-title">Secondary Skills</span>
					 						<div class="pf-field">
					 							<input type="text" placeholder="" name="secondary_skills"/>
					 						</div>
					 					</div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Required Knowledge, Skills, and Abilities in detail</span>
					 						<div class="pf-field">
                                            <textarea id="skill_detailed_desc" class="skill_detailed_desc" name="skill_detailed_desc" rows="10" placeholder=""></textarea>
                                            </div>
                                        </div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Job Type</span>
					 						<div class="pf-field">
					 							<select data-placeholder="" class="chosen" name="job_type">
													<option>Full Time</option>
													<option>Part Time</option>
													<option>Internship</option>
													<option>Temporary</option>
													<option>Freelance</option>
												</select>
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Categories</span>
					 						<div class="pf-field">
					 							<select data-placeholder="" class="chosen" name="job_categories">
													<option>Information Technology</option>
													<option>Finance</option>
													<option>Construction</option>
													<option>Marketing</option>
													<option>Quality Check</option>
													<option>Real Estate</option>
													<option>Sales</option>
													<option>Support</option>
												</select>
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Minimum Salary</span>
					 						<div class="pf-field">
					 							<select data-placeholder="" class="chosen" name="minimum_salary">
													<option value="0">0</option>
													<option value="100000">1 Lakhs</option>
													<option value="200000">2 Lakhs</option>
													<option value="300000">3 Lakhs</option>
													<option value="400000">4 Lakhs</option>
													<option value="500000">5 Lakhs</option>
													<option value="600000">6 Lakhs</option>
													<option value="700000">7 Lakhs</option>
													<option value="800000">8 Lakhs</option>
													<option value="900000">9 Lakhs</option>
													<option value="1000000">10 Lakhs</option>
													<option value="1100000">11 Lakhs</option>
													<option value="1200000">12 Lakhs</option>
													<option value="1300000">13 Lakhs</option>
													<option value="1400000">14 Lakhs</option>
													<option value="1500000">15 Lakhs</option>
													<option value="1600000">16 Lakhs</option>
													<option value="1700000">17 Lakhs</option>
													<option value="1800000">18 Lakhs</option>
													<option value="1900000">19 Lakhs</option>
													<option value="2000000">20 Lakhs</option>
												</select>
					 						</div>
					 					</div>
										<div class="col-lg-6">
					 						<span class="pf-title">Maximum Salary</span>
					 						<div class="pf-field">
					 							<select data-placeholder="" class="chosen" name="maximum_salary">
													<option value="100000">1 Lakhs</option>
													<option value="200000">2 Lakhs</option>
													<option value="300000">3 Lakhs</option>
													<option value="400000">4 Lakhs</option>
													<option value="500000">5 Lakhs</option>
													<option value="600000">6 Lakhs</option>
													<option value="700000">7 Lakhs</option>
													<option value="800000">8 Lakhs</option>
													<option value="900000">9 Lakhs</option>
													<option value="1000000">10 Lakhs</option>
													<option value="1100000">11 Lakhs</option>
													<option value="1200000">12 Lakhs</option>
													<option value="1300000">13 Lakhs</option>
													<option value="1400000">14 Lakhs</option>
													<option value="1500000">15 Lakhs</option>
													<option value="1600000">16 Lakhs</option>
													<option value="1700000">17 Lakhs</option>
													<option value="1800000">18 Lakhs</option>
													<option value="1900000">19 Lakhs</option>
													<option value="2000000">20 Lakhs</option>
												</select>
					 						</div>
					 					</div>
										<div class="col-lg-6">
					 						<span class="pf-title">Minimum Experience</span>
					 						<div class="pf-field">
					 							<select data-placeholder="" class="chosen" name="minimum_experience">
													<option value="0">0</option>
													<option value="1">1 Year</option>
													<option value="2">2 Years</option>
													<option value="3">3 Years</option>
													<option value="4">4 Years</option>
													<option value="5">5 Years</option>
													<option value="6">6 Years</option>
													<option value="7">7 Years</option>
													<option value="8">8 Years</option>
													<option value="9">9 Years</option>
													<option value="10">10 Years</option>
													<option value="11">11 Years</option>
													<option value="12">12 Years</option>
													<option value="13">13 Years</option>
													<option value="14">14 Years</option>
													<option value="15">15 Years</option>
													<option value="16">16 Years</option>
													<option value="17">17 Years</option>
													<option value="18">18 Years</option>
													<option value="19">19 Years</option>
													<option value="20">20 Years</option>
												</select>
					 						</div>
					 					</div>
										<div class="col-lg-6">
					 						<span class="pf-title">Maximum Experience</span>
					 						<div class="pf-field">
					 							<select data-placeholder="" class="chosen" name="maximum_experience">
													<option value="1">1 Year</option>
													<option value="2">2 Years</option>
													<option value="3">3 Years</option>
													<option value="4">4 Years</option>
													<option value="5">5 Years</option>
													<option value="6">6 Years</option>
													<option value="7">7 Years</option>
													<option value="8">8 Years</option>
													<option value="9">9 Years</option>
													<option value="10">10 Years</option>
													<option value="11">11 Years</option>
													<option value="12">12 Years</option>
													<option value="13">13 Years</option>
													<option value="14">14 Years</option>
													<option value="15">15 Years</option>
													<option value="16">16 Years</option>
													<option value="17">17 Years</option>
													<option value="18">18 Years</option>
													<option value="19">19 Years</option>
													<option value="20">20 Years</option>
												</select>
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Career Level</span>
					 						<div class="pf-field">
					 							<select data-placeholder="" class="chosen" name="career_level">
													<option>Assistant Manager</option>
													<option>Department Head</option>
													<option>Executive</option>
													<option>Intermediate</option>
													<option>Junior</option>
													<option>Lead</option>
													<option>Manager</option>
												</select>
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Gender</span>
					 						<div class="pf-field">
					 							<select data-placeholder="" class="chosen" name="required_gender">
													<option>Any</option>
													<option>Male</option>
													<option>Female</option>
												</select>
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Industry</span>
					 						<div class="pf-field">
					 							<select data-placeholder="" class="chosen" name="industry">
													<option>Finance</option>
													<option>Information Technology</option>
													<option>Agriculture</option>
													<option>Arts</option>
													<option>Construction</option>
													<option>Education</option>
													<option>Health Care</option>
													<option>Electricity</option>
													<option>Manufacturing</option>
													<option>Mining</option>
													<option>Retail Trade</option>
													<option>Transport</option>
												</select>
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Qualification</span>
					 						<div class="pf-field">
					 							<select data-placeholder="" class="chosen" name="qualification">
													<option>Bachelor Degree</option>
													<option>Associate Degree</option>
													<option>Master Degree</option>
													<option>Diploma</option>
													<option>Doctorate Degree</option>
												</select>
					 						</div>
					 					</div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Education and Career requirement in detail</span>
					 						<div class="pf-field">
                                            <textarea id="education_detail_desc" class="education_detail_desc" name="education_detail_desc" rows="10" placeholder=""></textarea>
                                            </div>
                                        </div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Application Deadline Date</span>
					 						<div class="pf-field">
					 							<input type="date" placeholder="" name="application_deadline"/>
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Country</span>
					 						<div class="pf-field">
					 							<select data-placeholder="" class="chosen" name="country">
													<option>India</option>
												</select>
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">City</span>
					 						<div class="pf-field">
					 							<select data-placeholder="" class="chosen" name="city">
													<option>Bangalore</option>
													<option>Kochi</option>
													<option>Trivandrum</option>
													<option>Mumbai</option>
												</select>
					 						</div>
					 					</div>
					 					<div class="col-lg-12">
					 						<span class="pf-title">Complete Address</span>
					 						<div class="pf-field">
					 							<textarea></textarea>
					 						</div>
					 					</div>
					 				</div>
									<div class="col-lg-12">
					 						<button type="submit">Submit</button>
					 					</div>
					 			</form>
					 		</div>
					 	</div>
					</div>
				 </div>
			</div>
		</div>
	</section>

	<footer>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 column">
						<div class="widget">
							<div class="about_widget">
								<div class="logo">
									<a href="#" title=""><img src="http://placehold.it/178x40" alt="" /></a>
								</div>
								<span>Collin Street West, Victor 8007, Australia.</span>
								<span>+1 246-345-0695</span>
								<span>info@jobhunt.com</span>
								<div class="social">
									<a href="#" title=""><i class="fa fa-facebook"></i></a>
									<a href="#" title=""><i class="fa fa-twitter"></i></a>
									<a href="#" title=""><i class="fa fa-linkedin"></i></a>
									<a href="#" title=""><i class="fa fa-pinterest"></i></a>
									<a href="#" title=""><i class="fa fa-behance"></i></a>
								</div>
							</div><!-- About Widget -->
						</div>
					</div>
					<div class="col-lg-4 column">
						<div class="widget">
							<h3 class="footer-title">Frequently Asked Questions</h3>
							<div class="link_widgets">
								<div class="row">
									<div class="col-lg-6">
										<a href="#" title="">Privacy & Seurty </a>
										<a href="#" title="">Terms of Serice</a>
										<a href="#" title="">Communications </a>
										<a href="#" title="">Referral Terms </a>
										<a href="#" title="">Lending Licnses </a>
										<a href="#" title="">Disclaimers </a>
									</div>
									<div class="col-lg-6">
										<a href="#" title="">Support </a>
										<a href="#" title="">How It Works </a>
										<a href="#" title="">For Employers </a>
										<a href="#" title="">Underwriting </a>
										<a href="#" title="">Contact Us</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 column">
						<div class="widget">
							<h3 class="footer-title">Find Jobs</h3>
							<div class="link_widgets">
								<div class="row">
									<div class="col-lg-12">
										<a href="#" title="">US Jobs</a>
										<a href="#" title="">Canada Jobs</a>
										<a href="#" title="">UK Jobs</a>
										<a href="#" title="">Emplois en Fnce</a>
										<a href="#" title="">Jobs in Deuts</a>
										<a href="#" title="">Vacatures China</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 column">
						<div class="widget">
							<div class="download_widget">
								<a href="#" title=""><img src="http://placehold.it/230x65" alt="" /></a>
								<a href="#" title=""><img src="http://placehold.it/230x65" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-line">
			<span>© 2018 Jobhunt All rights reserved. Design by Creative Layers</span>
			<a href="#scrollup" class="scrollup" title=""><i class="la la-arrow-up"></i></a>
		</div>
	</footer>

</div>

<div class="account-popup-area signin-popup-box">
	<div class="account-popup">
		<span class="close-popup"><i class="la la-close"></i></span>
		<h3>User Login</h3>
		<span>Click To Login With Demo User</span>
		<div class="select-user">
			<span>Candidate</span>
			<span>Employer</span>
		</div>
		<form>
			<div class="cfield">
				<input type="text" placeholder="Username" />
				<i class="la la-user"></i>
			</div>
			<div class="cfield">
				<input type="password" placeholder="********" />
				<i class="la la-key"></i>
			</div>
			<p class="remember-label">
				<input type="checkbox" name="cb" id="cb1"><label for="cb1">Remember me</label>
			</p>
			<a href="#" title="">Forgot Password?</a>
			<button type="submit">Login</button>
		</form>
		<div class="extra-login">
			<span>Or</span>
			<div class="login-social">
				<a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
				<a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
			</div>
		</div>
	</div>
</div><!-- LOGIN POPUP -->

<div class="account-popup-area signup-popup-box">
	<div class="account-popup">
		<span class="close-popup"><i class="la la-close"></i></span>
		<h3>Sign Up</h3>
		<div class="select-user">
			<span>Candidate</span>
			<span>Employer</span>
		</div>
		<form>
			<div class="cfield">
				<input type="text" placeholder="Username" />
				<i class="la la-user"></i>
			</div>
			<div class="cfield">
				<input type="password" placeholder="********" />
				<i class="la la-key"></i>
			</div>
			<div class="cfield">
				<input type="text" placeholder="Email" />
				<i class="la la-envelope-o"></i>
			</div>
			<div class="dropdown-field">
				<select data-placeholder="Please Select Specialism" class="chosen">
					<option>Web Development</option>
					<option>Web Designing</option>
					<option>Art & Culture</option>
					<option>Reading & Writing</option>
				</select>
			</div>
			<div class="cfield">
				<input type="text" placeholder="Phone Number" />
				<i class="la la-phone"></i>
			</div>
			<button type="submit">Signup</button>
		</form>
		<div class="extra-login">
			<span>Or</span>
			<div class="login-social">
				<a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
				<a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
			</div>
		</div>
	</div>
</div><!-- SIGNUP POPUP -->

<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/modernizr.js' %}" type="text/javascript"></script>
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/wow.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/slick.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/parallax.js' %}" type="text/javascript"></script>
<script src="{% static 'js/select-chosen.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.scrollbar.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/maps3.js' %}" type="text/javascript"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCYc537bQom7ajFpWE5sQaVyz1SQa9_tuY&sensor=true&libraries=places"></script>

<!-- Include Date Range Picker -->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.css' %}" />
<script src="{% static 'js/bootstrap-datepicker.js' %}" type="text/javascript"></script>
<script>
		$(function(){
			$('.datepicker').datepicker({
			    format: 'mm-dd-yyyy'
			});
		});
</script>
<script>
    $(".skill_detailed_desc").focus(function() {
    if(document.getElementById('skill_detailed_desc').value === ''){
        document.getElementById('skill_detailed_desc').value +='• ';
	}
});
$(".skill_detailed_desc").keyup(function(event){
	var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){
        document.getElementById('skill_detailed_desc').value +='• ';
	}
	var txtval = document.getElementById('skill_detailed_desc').value;
	if(txtval.substr(txtval.length - 1) == '\n'){
		document.getElementById('skill_detailed_desc').value = txtval.substring(0,txtval.length - 1);
	}
});
</script>

<script>
    $(".education_detail_desc").focus(function() {
    if(document.getElementById('education_detail_desc').value === ''){
        document.getElementById('education_detail_desc').value +='• ';
	}
});
$(".education_detail_desc").keyup(function(event){
	var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){
        document.getElementById('education_detail_desc').value +='• ';
	}
	var txtval = document.getElementById('education_detail_desc').value;
	if(txtval.substr(txtval.length - 1) == '\n'){
		document.getElementById('education_detail_desc').value = txtval.substring(0,txtval.length - 1);
	}
});
</script>
</body>
</html>